@import "tailwindcss";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    /* Adjust based on your navbar height */
}

* {
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif !important;
}


/* .css-1pycje8-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
    min-width: 0 !important;
} */